{% extends 'home/main.html' %}
{% load static %}
{% block title %}BitStore{%endblock title %}
{% block style %}
{% endblock style %}
{% block content %}
<!-- breadcrumb start-->
<section class="breadcrumb" style="height:90px; background-color:#ecfdff" >
</section>
<!-- breadcrumb start-->
<!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-7 col-xl-7 justify-content-center">
          <div class="col-2">
            <ul class="thumb" style="margin:0 auto; padding:0; float: left;">
            <li style="list-style: none; margin: 10px;">
              <a 
                href="{{single_product.primary_image.url}}" 
                target="main_image">
                <img src="{{single_product.primary_image.url}}" alt="Product Image"  
                  style=" width: 80px;  border: 1px solid grey;"
                >
              </a>
              <br>
              <br>
              {% for i in images %}
              <a class="" href="{{i.image.url}}" target="main_image"><img src="{{i.image.url}}" alt="Product Image"  
                style=" width: 80px; border: 1px solid grey;">
              </a>
              <br>
              <br>
              {% endfor %}
            </li>
          </ul>
          </div>
          <div class="main_image">
            <center><img src="{{single_product.primary_image.url}}" alt="" style="height:60vh"></center>
          </div>
        </div> 

        <div class="col-lg-5 col-xl-4">
          <!--Form for Variations-->
          <form action="{% url 'add_cart' single_product.id %}" method="POST">
            {% csrf_token %}
            <div class="s_product_text">
              <h3>{{single_product.product_name}}</h3>
              <h2>Rs.{{single_product.price}}</h2>
              <ul class="list">
                <li>
                  <a class="active" href="/store/category/{{single_product.category.slug}}">
                    <span>Language</span> : {{single_product.category}}</a>
                </li>
                <li>
                  <p> <span>Availibility</span>{% if single_product.stock <= 0 %} : Out of Stock {% else %} : In Stock{% endif %}</p>
                </li>
                <li>
                </li>
                <li>
                  <p> <span>Choose Type</span>:</p>
                  <select name="book_type" class="form-control" required>
                    <option value="" disabled selected>choose type</option>
                    {% for i in single_product.variation_set.book_type %}
                    <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                    {% endfor %}
                  </select>
                </li>
                <br><br>
                <li>
                  <p> <span>Choose Language</span>:</p>
                  <select name="language" class="form-control" required>
                    <option value="" disabled selected>choose language</option>
                    {% for i in single_product.variation_set.language %}
                    <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                    {% endfor %}
                  </select>
                </li>
                <br>
              </ul>
              <br><br>
              <div class="card_area d-flex justify-content-between align-items-center">
                {% if single_product.stock <= 0 %}
                  <a class="btn_3">Out of stock</a>
                {% else %}
                  {% if in_cart %}
                  <a href="{% url 'cart'  %}" class="btn_3">go to cart</a>
                  {% endif %}
                  <button type="submit" class="btn_3">add to cart</button>
                {% endif %}
                <a href="{% url 'add_wishlist' single_product.id %}" class="like_us"> <i class="fa-solid fa-heart text-danger"></i></a>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
  <section class="product_description_area">
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Specification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">Comments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
            aria-selected="false">Reviews</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
          <p>
            {{single_product.description}}
          </p>
        </div>
      </div>
    </div>
  </section>
<!--================End Product Description Area =================-->

<!-- product_list part start-->
  <section class="product_list best_seller section_padding">  
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
        <div class="section_tittle text-center">
            <h2>Best Sellers <span>shop</span></h2>
        </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-between">
        <div class="col-lg-12">
        <div class="best_product_slider owl-carousel">
            {% for product in all %}
            <a href="{{product.get_url}}">
                <div class="single_product_item">
                <img src="{{product.primary_image.url}}" style="height:350px" alt="" />
                <div class="single_product_text">
                    <div style="min-height:7vh;">
                        <h4>{{product.product_name}}</h4>
                    </div>
                    <h3 class="align-bottom">Rs.{{product.price}}</h3>
                </div>
                </div>
            </a>
            {% endfor %}
        </div>
        </div>
    </div>
    </div>
</section>
<!-- product_list part end-->
  {% endblock content %}
  {% block script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.thumb a').click(function(e){
        e.preventDefault();
        $('.main_image img').attr('src',$(this).attr("href"));
      })
    })
  </script>
  {% endblock script %}