{% extends 'home/main.html' %}
{% load static %}
{% block title %}BitStore{%endblock title %}
{% block content %}
<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="pt-5">
            {% include 'accounts_includes/alerts.html' %}
        </div>
        <div class="row h-100">
            {% include 'accounts_includes/dashboard_side_panel.html' %}
            <div class="col-lg-9">
                <div class="d-flex " style="border-radius: 15px; background-color: #93e2bb;">
                    <div class="card-body p-4 text-black">
                        <h6 class="h4 p-2">Change password</h6>
                        <form action="{% url 'change_password' %}" method="POST" >
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="">Current Password</label>
                                <input type="password" name="current_password" placeholder="Current password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="">New Password</label>
                                <input type="password" name="new_password" placeholder="Create password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="">Confirm Password</label>
                                <input type="password" name="confirm_password" placeholder="Confirm new password" class="form-control" required>
                            </div>

                            <input type="submit" value="Save" class="btn btn-secondary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}