{% extends 'main.html' %}
{% load static %}
{% block title %}bitstore | Forgot password{% endblock title %}
{% block content %}
<section class="vh-100">
  <a href="{% url 'home' %}" class="text-dark"><h3 class="m-5 ps-3 position-absolute">bit store</h3></a>
  <div class="container py-5 h-100">
    <div class="row align-items-center justify-content-center h-100">
      {% include 'accounts_includes/alerts.html' %}
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img  src="{% static 'images/login.png' %}"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 border border-dark rounded p-5 ms-5 mt-5">
        <form method="POST" action="{% url 'forgot_password' %}">
          {% csrf_token %}
          <h4 class="fw-light" >Welcome !</h4>
          <br><br>
          <h2 class="fw-semibold fs-2">Forgot Password !?</h2>
          <h5 class="fw-lighter" fs-5 >bitwr's book store</h5>
          <br>
          <!-- Email input -->
          <div class="form-outline text-start mb-4">
              <label class="form-label" for="form2Example1">Email</label>
              <input type="email" name="email" id="form2Example1" class="form-control p-3" placeholder="Enter Email Address" />
          </div><br>

          <!--messages was here-->

          <br><br>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input " style="" type="checkbox" value="" id="form1Example3" checked />
              <label class="form-check-label" for="form1Example3"> Remember me </label>
            </div>
            <a class="text-decoration-none text-secondary" href="{% url 'login' %}">Go Back to Login ?</a>
          </div >

          <!-- Submit button -->
    
          <button type="submit" class="btn btn-dark btn-lg btn-block p-3 w-100">Submit</button>
          <br><br>
          <div class = "d-flex justify-content-center" >
            <p class="fw-light fs-5 ">Don'y have an Account ? </p>
            <a class="text-decoration-none fs-5 ms-2 text-dark" href="{% url 'register' %}">Register</a> 
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content%}