<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        <style>
            .errorlist{
                position: absolute;
                padding-top: 2px;
                padding-left:5px;
                list-style-type:none;
                color:red;
            }
        </style>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        {% block link %}{% endblock link %}
    </head>
    <body>
        {% block content %}{% endblock content %}
        <!-- JavaScript Bundle with Popper -->
        <!-- alert auto hide script -->
        <script>
            window.setTimeout(function() {
              $(".alert").fadeTo(500, 0).slideUp(500, function(){
                  $(this).remove(); 
              });
            }, 2000);
        </script>
        {% block script %}{% endblock script %}

        <!-- font awesome -->
        <script src="https://kit.fontawesome.com/2523a5d8cd.js" crossorigin="anonymous"></script>
    
        <script src="{% static 'store/js/jquery-1.12.1.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>